
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Work+Sans:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;;
}
.header .logo{
    font-size: 1.7em;
    color: #FFF;
    text-decoration: none;
}
.nav a {
    position: relative;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    margin-left: 40px;
}

.nav a:after {
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #FFF;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}

.nav a:hover::after {
    transform: scaleX(1);
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../images/fresh-coffee-steams-wooden-table-close-up-generative-ai.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
}

.banner .content {
    max-width: 600px;
    color:#FFF;
}
.content h2 {
    font-size: 3em;
    color: #FFF;
    letter-spacing: .03em;
}
.text{
    color: #FFF;
    font-size: 12px;
    margin: 10px 0 40px;
    width: 40%;
}
.content a {
    color: #FFF;
    text-decoration: none;
    border: 2px solid #FFF;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 40px;
    transition: .5s;
}
.contant a:hover {
    background: #1e0b04;
}

.wrapper-login{
    position: relative;
    width: 440px;
    padding-right: 80px;
}

.wrapper-login h2 {
    font-size: 25px;
    color: #FFF;
    text-align: center;
}

.wrapper-login .input-box{
    position: relative;
    width: auto;
    height: 50px;
    margin: 40px 0;
    padding-right: 20px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #FFF;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #FFF;
    padding: opx 5px 0px 25px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #FFF;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus-label,
.input-box input:valid-label {
    font-size: .8em;
    top: -14px;
    left: 17px;
}

.input-box .icon{
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: #FFF;
}

.wrapper-login .remember-forget{
    font-size: .9em;
    color: #FFF;
    font-weight: 500;
    margin: -25px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #1e0b04;
    margin-right: 3px;

}

.remember-forget a {
    color: #FFF;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.wrapper-login .btn{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #71412a;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 1em;
    color: #FFF;
    font-weight: 500;
}

.wrapper-login .register-link{
    font-size: .9em;
    color: #FFF;
    text-align: center;
    margin: 30px 0;
}

.register-link p a {
    color:#FFF;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}